@font-face {
    font-family: "Raleway-bold";
    src: url(./Booki/fonts/Raleway-Bold.ttf);
}  


@font-face {
    font-family: "Raleway-regular";
    src: url(./Booki/fonts/Raleway-Regular.ttf);
} 

@font-face {
    font-family: "Raleway-medium";
    src: url(./Booki/fonts/Raleway-Medium.ttf);
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: "Raleway-medium", sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
}

p {
    font-size: medium;
    
}

ul {
   list-style: none; 
}

a {
    text-decoration: none;
    color:black;
}






/* ******NAVBAR******* */

header {
    padding:0 20px 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Logo {
    width: 100px;
    image-rendering: pixelated;
    margin-left: 25px;
}

.Header-UL {
    display: flex;
    margin-right: 20px;
}
.Header-UL li {
    padding: 0 10px;
    position: relative;
}
.Header-UL li:hover::after  {
    content: "";
    position: absolute;
    left: 0;
    top: -14px;
    height: 2px;
    width: 100%;
    background-color: blue;
    
}
.Header-UL li:hover a {
    color: blue;
}
/* ******FORM******* */


main {
    max-width: 1003px;
    margin: auto;

}
h1 {
    font-size: 1.2em;  
    margin-left: 35px;      
}
h2 {
    font-size: 1em;
}
.centre-ville {
    margin-top: 10px;
    margin-left: 35px;
}
form {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin: 15px 0;
    margin-left: 35px;
    
    
}
.search-form-i {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
form input {
    height: 38px;
    font-family: "Raleway-bold", sans-serif;   
    border-style: solid;
    border-color: #F2F2F2;
    border-width: thin; 
    padding-left: 10px; 
    
    
     
    
}
button {
    height: 40px;
    width: 100px;
    font-family: "Raleway-bold", sans-serif;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;    
}

.fa-search {
    display: none;
}




/* *****FILTRES****** */

.filtres {
    margin-top: 20px;
    margin-left: 40px;
    max-width: 75%;
    display: flex;
    justify-content: space-between;    
}
.filtres h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.filtres li {
    display: flex;
    align-items: center;
    height: 40px;
}

.filtres li:hover {
    transform: scale(1.10);
    transition: 0.3s;
}

.filtres input:hover {
    background-color: #F2F2F2;
    transition: 0.5s;
}

.filtres input {
    height: 40px;
    width:auto;
    background-color: transparent;
    font-family: "Raleway-bold", sans-serif;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: bold;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;   
    z-index: 1; 
    padding-left: 20px;
    padding-right: 10px;
}
.filtres-i {
    background-color: #DEEBFF;
    color: #0065FC;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: -15px;
    z-index: 2;
}

.logements-dispo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
}

.logements-dispo p {
    margin-left: 10px;
}
.fa-info {
    height:20px;
    width: 20px;
    font-size: x-small;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: white;  
    border: 2px #F2F2F2 solid;  
    border-radius: 50%;  

}

.choix-hotels {
    display:flex;
    justify-content: center;
}


/* *******SECTION********* */
.hebergements {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    max-width: 630px;
    background-color: #F2F2F2;
    margin-top: 20px;
    margin-right:25px;   
    border-radius: 20px;
    padding: 20px;
    
}
.images-hebergements {   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.card-hebergements {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 160px;
    margin:10px 15px;
    box-shadow:rgba(0,0,0,0.1) 0 3px 6px;
}
.card-hebergements img {
    width:100%;
    border-radius: 15px 15px 0 0;
    height:80px;
    object-fit:cover;
}

.hebergement-info {
    padding:0 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.hebergement-info h3 {
    font-size:11px;
    padding:4px 0;
}

.hebergement-info p {
    font-size:9px;
    padding-bottom: 10px;
}
.hebergement-info ul {
    display: flex;
    font-size: x-small;
    margin-bottom: 10px;
}

.fa-star {
    color: #0065FC;
}

.gray {
    color: #F2F2F2;
}
.afficher-plus {
    font-size:12px;
    margin-top: auto;
    
}

.populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:20%;
    background-color: #F2F2F2;  
    border-radius: 20px;
    padding:20px;
    margin-top: 20px;
}

.images-populaires figure {
    margin-bottom: 20px;
}

.images-populaires a {
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin:10px 0;
    box-shadow:rgba(0,0,0,0.1) 0 3px 6px;
}

.images-populaires img {
    width: 80px;
    min-width: 80px;
    height: 85px;
    object-fit:cover;
    border-radius: 15px 0 0 15px;
}

.images-populaires ul {
   margin-bottom: 5px;
   margin-top: auto;

}


/* *****ACTIVITES***** */


.activités ul {
    display: flex;
    margin-left: 20px;
}

.activités-info {
    height: 25px;
}

.activités h3 {
    margin-left: 15px;
    margin-top: 5px;
    font-size: small;        
}

.activités h2 {
    margin-top: 50px;
    margin-left: 35px;
    
}

.card-activités img,.mini-activités img {
    width: 210px; 
    border-radius: 20px 20px 0 0;   
}

.card-activités img {
    height: 300px;
    object-fit: cover;
}

.figure,.card-activités {
    background-color: white;
    border-radius: 20px;
    width: 210px;   
    margin: 10px 15px;
    box-shadow:rgba(0,0,0,0.1) 0 3px 6px;
}

.figure,.mini-activités {
    background-color: white;
    border-radius: 20px;
    width: 210px;
    margin: 10px 15px;
    box-shadow:rgba(0,0,0,0.1) 0 3px 6px;
}

.m-card img {
    height: 150px;
    object-fit: cover;
}

.s-card img {
    height: 80px;
    object-fit: cover;
}


.parc {
    margin-top: 37px;
}

.frioul {
    margin-top: 37px;
}


/* ******FOOTER******* */

footer {
    display: flex;
    margin-top: 50px;
    align-items: normal;
    gap: 13%;
    background-color: #F2F2F2; 
    padding: 45px 0 30px 13%;
    width: calc(100% -  13% );
    
      
}

footer ul {
    margin-left: 25px;
}

footer li {
    line-height: 28px;
    font-size: 15px;
    
    
}

footer strong {
    line-height: 40px;
   

}

/* *********SMARTPHONE********* */

@media all and (max-width : 480px) {

    header {
        padding-top: 30px;
        line-height: 80px;
        margin-bottom: 0;
        flex-direction: column;
    }

    .Header-UL {
        width: 100vw;
        margin: 0;
    }

    .Header-UL li {
        width: 50%;
        text-align: center;
        padding: 0;
        border-bottom: 2px solid #F2F2F2;
            
    }

    .Header-UL li:hover::after  {
      
        width: 0;        
    }
    .Header-UL li:hover  {
        border-bottom-color: #0065FC;
    }
   
 
    h1 {
        font-size: 20px;
        margin-left: 18px;
    }

    .centre-ville {
        margin-left: 18px;
        font-size: 14px;
    }

    form {
        margin-left: 15px;
        margin-top: 30px;
    }

    form input {
        border-right: none;
        padding-right: 55px;
        
    }

    button {
        width: 40px;
        border-radius: 10px;
        margin-left: -15px;
        
    }

    .fa-search {
        display: block;
    }

    span {
        display: none;
    }

    .filtres  {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .filtres h2 {
        margin-right: 185px;
        margin-bottom: 15px;
    }

    .filtres li {
        margin-bottom: 10px;
    }

    .fam {
        justify-content: flex-end;
        margin-right: -15px;
        margin-top: -50px;
    }


   .logements-dispo {
       margin-left: 15px;
       
   }

   .logements-dispo p {
       font-size: 13px;
       
   }

   .choix-hotels {
       flex-direction: column-reverse;       
   }

   .populaires {
       width: calc(100% - 40px);
       border-radius: 0px;
   }

   .populaires h2 {
       margin-top: 10px;
       margin-bottom: 12px;
   }


   .images-populaires a {
       height: 110px;
   }

   .images-populaires figure {
       margin-bottom: 0;
   }

   .images-populaires img {
       height: 110px;
       min-width: 100px;
   }

   .images-populaires figcaption {
       margin-left: 15px;
       
   }

   .images-populaires h3 {
       font-size: 14px;
   }

   .images-populaires p {
       font-size: 12px;
   }

   .hebergements {
       background-color: transparent;
   }

   .hebergements h2 {
       margin-bottom: 10px;
   }

   .images-hebergements {
       justify-content: center;
       
   }

   .card-hebergements {
       width: 277px;
       margin-left: -5px;
       margin-bottom: 5px;
   }

   .card-hebergements img {
       height: 100px;
   }

   .card-hebergements h3 {
       font-size: 14px;
   }

   .card-hebergements p {
       font-size: 13px;
   }

   .afficher-plus {
       font-weight: bold;
       font-size: 15px;
       margin-top: 15px;
   }

   .activités h2 {
       margin: 20px 35px 5px 20px;
   }

   .activités ul {
       flex-direction: column;
       margin-left: 0;
       align-items: center;   
   }


   .activités figure {
       width: 278px;
       height: 160px;
       margin-left: 10px;       
   }

   .activités img {
        width: 278px;
        height: 120px;
   }

   .frioul {
       margin-top: 20px;
   }

   .pl {
       margin-top: 20px;
   }

   footer {
       flex-direction: column;
       padding-top: 25px
   }

   footer ul {
       margin-left: -15px;
       
   }

   footer li {
       font-size: 13px;
   }

}

/* *******TABLETTE******** */

@media all and (min-width : 481px ) and(max-width : 769px) {

    header {
        padding: 0 0 20px 20px;
    }

    h1 {
        margin-left: 45px;
    }

    .centre-ville {
        margin-left: 45px;
    }

    form {
        margin-left: 43px;
    }

    .filtres {
        margin-left: 45px;
    }

    .filtres li {
        margin-left: 25px;
    }

    .choix-hotels {
        flex-direction: column;        
    }

    .hebergements {
        margin-left: 40px;
        max-width: none;
        width: 670px;
    }

    .card-hebergements {
        width: 180px;
    }

    .afficher-plus {
        font-weight: bold;
    }

    .populaires {
        width: 670px;
        margin-left: 39px;
        margin-top: 40px;
    }

    .images-populaires {
        display: flex;
        justify-content: space-around;
    }

    .images-populaires figure {
        width: 190px;
        
    }

    .images-populaires a img {
        height: 120px;
    }

    .activités h2 {
        margin-left: 100px;
    }

    .activités ul {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-left: 15px;
    } 

    .card-activités, .mini-activités {
        width: 600px;
        
    }

    .card-activités img, .mini-activités img {
        width: 600px;
        height: 120px;        
    }

    .frioul {
        margin-top: 20px;
    }

    .pl {
        margin-top: 20px;
    }

    footer {
        padding: 0;
        gap: 0%;
        width: 100%;
        height: 150px;
    }

    footer ul {
        margin-left: 50px;
        margin-left: 40px;
        padding-left: 30px;
    }

    




}
